.SideBarBondDiscounts__Container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 3vmin;
}

.SideBarBondDiscounts__Container h3 {
    margin: 0;
    font-size: 16px;
}

.SideBarBondDiscounts__Container p {
    margin: 0;
    font-size: 16px;
}